<head>
  <link rel="stylesheet" href="stylesheets/contato.css">
</head>

<header>
  <a href="#" class="logo">Estude.io</a>
  <nav class="header__nav">
    <ul class="nav__links">
      <li><a href="/">Home</a></li>
      <li><a href="/informacoes">Mais informações</a></li>
      <li><a href="/sobre">Sobre nós</a></li>
      <li><a href="/tecnologias">Tecnologias</a></li>
      <li><a href="/contato">Contato</a></li>
    </ul>
  </nav>
  <a href="/login"><button class="main__acessar">Acessar</button></a>
</header>
<div>
  <h1 class="title">Quer entrar em contato com o time?</h1>
</div>
<div class="div__content">
  <h2 style="color: black;"><b>Basta preencher o formulário abaixo</b></h2>
  {{#error}}<p class="alert alert-danger">{{.}}</p>{{/error}}
  {{#success}}<p class="alert alert-success">{{.}}</p>{{/success}}
  <form action="/enviar-email" method="post">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nome</label>
      <input type="text" class="form-control" name="nome" placeholder="Seu Nome" required>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" placeholder="nome@exemplo.com" required>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Assunto</label>
      <input type="text" class="form-control" name="assunto" placeholder="Assunto" required>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Digite o que está no seu coração</label>
      <textarea class="form-control" name="texto" rows="3" required></textarea>
    </div>
  <button type="submit" class="main__enviar">Enviar</button>
  </form>
</div>