<head>
    <link rel="stylesheet" href="stylesheets/global.css">
</head>

<header>
    <a href="#" class="logo">Estude.io</a>
    <nav class="header__nav">
        <ul class="nav__links">
            <li><a href="#">Home</a></li>
            <li><a href="#about">Sobre nós</a></li>
            <li><a href="#contact">Contato</a></li>
            <li><a href="#support">Suporte</a></li>
            <li><a href="/tecnologias">Tecnologias</a></li>
        </ul>
    </nav>
    <a href="/login"><button class="main__acessar">Acessar</button></a>
</header>
<div class="div__principal">
    <div style=" justify-content: center;">
        <h3 style="font-weight: lighter;">Bem vindo à Estude.io</h3>
        <h2 style="font-weight: bold;font-size: 2rem;">Dê um próximo passo <br> aos seus Estudos</h2>
        <p style="font-weight: lighter;">
            O Estude.io ajuda a organizar os seus estudos,<br>
            adicionando ferramentas que irão te auxiliar<br>
            em sua jornada acadêmica,<br>
            Cadastre-se e entre agora, é totalmente gratuito</p>
    </div>
    <div style="margin-left: 20%;">
        <img src="img/banner01.png" alt="Bloco de anotação">
        <img src="img/banner02.png" alt="Gráfico" style="margin-left: -30px; position: relative; z-index:-1;">

    </div>
</div>
<div style="text-align: center;">
    <h2 style="font-weight: bold;font-size: 1.25rem; color: #44494F">Estude.io organiza seus estudos</h2>
</div>
<div class="div__secondary">
    <div class="secondary__items">
        <img src="img/people_abstract.png" alt="Pessoa estudando">
        <h2 style="font-weight: bold;font-size: 1.25rem; color: #44494F;margin-bottom: 4px;">Utilize de onde quiser</h2>
        <p style="font-weight: lighter; color: #44494F;">A Qualquer Hora, Em Qualquer Lugar
        <p>
    </div>
    <div class="secondary__items">
        <img src="img/smartphone_ilustration.png" alt="Ilustração de um smartphone">
        <h2 style="font-weight: bold;font-size: 1.25rem; color: #44494F;margin-bottom: 4px;">Em breve para dispositivos
            móveis</h2>
        <p style="font-weight: lighter; color: #44494F;">
            O app será desenvolvido em breve <br>
            para a matéria de dispositivos móveis<br>
        <p>
    </div>
    <div class="secondary__items">
        <img src="img/lamp.png" alt="Ilustração de uma lâmpada">
        <h2 style="font-weight: bold;font-size: 1.25rem; color: #44494F;margin-bottom: 4px;">Ideias e sugestões?</h2>
        <p style="font-weight: lighter; color: #44494F;">
            Nos envie suas sugestôes atráves<br>
            do nosso canal de comunicação,<br>
            gostariamos muito de contar com <br>
            sua participação :)
        <p>
    </div>

</div>