  <head>
    <link rel="stylesheet" href="stylesheets/login.css">
  </head>
  <header>
      <a href="/" class="logo">Estude.io</a>
    </header>
    <div class="container__principal">
      <div class="div__login">
        <div class="div__titulo">
          <h2>Entrar</h2>
        </div>
        {{#error}}<p class="alert alert-danger">{{.}}</p>{{/error}}
        <div class="div__inputs">
          <form action="/login" method="post">
            <h5>Email</h5>
            <input type="text" class="form-control input" id="email" name="email" />
            <h5>Senha</h5>
            <input type="password" class="form-control input" id="senha" name="senha" />
            <div class="esqueceu__senha">
              <p class="esqueceu__senha">Esqueceu sua senha?</p>
            </div>
            <button class="main__acessar">Acessar</button>
          </form>
        </div>
        {{!-- <a href="/dashboard/anotacoes"><button class="main__acessar">Acessar</button></a> --}}
        <div class="div__social">
          <a href="#"
            ><button class="entrar__google">
                <img src="img/google_icon.png" class="icone__social"> Entrar com o <b>Google</b>
            </button></a
          >
          <a href="#"
          ><button class="entrar__facebook">
            <img src="img/facebook_icon.png" class="icone__social"> Entrar com o <b>Facebook</b>
          </button></a
        >
        </div>
        <span class="criar__conta">Não possui uma conta? <span class="criar__conta" style="color: #2C7AED;"><b>Crie uma conta agora</b></span></span>
       
      </div>
    </div>