<head>
  <link rel="stylesheet" href="stylesheets/sobre.css" />
</head>

<header>
  <a href="#" class="logo">Estude.io</a>
  <nav class="header__nav">
    <ul class="nav__links">
      <li><a href="/">Home</a></li>
      <li><a href="/informacoes">Mais informações</a></li>
      <li><a href="/sobre">Sobre nós</a></li>
      <li><a href="/tecnologias">Tecnologias</a></li>
      <li><a href="/contato">Contato</a></li>
    </ul>
  </nav>
  <a href="/login"><button class="main__acessar">Acessar</button></a>
</header>
<div>
  <h1 class="title">Sobre nós</h1>
</div>
<div class="div__content__sobre" style="margin-top: 120px;">
  <p>
    <a
      class="btn btn-primary"
      data-bs-toggle="collapse"
      href="#collapseCarlos"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      Carlos Eduardo Nogueira de Freitas Veiga
    </a>
  </p>
  <div class="collapse" id="collapseCarlos">
    <div class="card card-body div__content__sobre">
      <img src="img/carlos.jpg" class="curriculo" />
    </div>
  </div>

  <p>
    <a
      class="btn btn-primary"
      data-bs-toggle="collapse"
      href="#collapseRaul"
      role="button"
      aria-expanded="false"
      aria-controls="collapseRaul"
    >
      Raul Val dos Reis
    </a>
  </p>
  <div class="collapse" id="collapseRaul">
    <div class="card card-body div__content__sobre">
      <img src="img/raul.jpg" class="curriculo" />
    </div>
  </div>
</div>